<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="lib/vue.js"></script>
</head>
<body>
<div id="app">
    <component v-bind:is="cname[0]"></component>
    <button @click="change">change</button>
    <component v-bind:is="cname[1]"></component>
</div>
<script>
    // 定义 事件总线实现 组件间通信
    const eventBus = new Vue();
    Vue.component('brother', {
        template: `
            <div style="border: solid 5px blue; width: 300px; height 200px;">
                brother
                <input ref="msg" type="text" />
                <button @click="sendToSister"> 发送给 sister</button>
                <hr/>
                收到的消息:
                <ul>
                    <li v-for="m of receiveMsg">{{ m }}</li>
                </ul>
            </div>
        `,
        mounted() {
            // 监听 事件 妹妹说
            eventBus.$on('妹妹说', (event) => {
                this.receiveMsg.push(event.msg);
            })
        },
        data() {
            return {
                receiveMsg: []
            }
        },
        methods: {
            sendToSister() {
                // 广播事件 哥哥说
                eventBus.$emit('哥哥说', {
                    msg: this.$refs.msg.value
                })
            }
        }
    });

    Vue.component('sister', {
        template: `
            <div  style="border: solid 5px pink; width: 300px; height 200px;">
                sister
                <input ref="msg" type="text" />
                <button @click="sendToBrother"> 发送给 brother</button>
                 <hr/>
                收到的消息:
                 <ul>
                    <li v-for="m of receiveMsg">{{ m }}</li>
                </ul>
            </div>
        `,
        mounted() {
            // 监听事件 哥哥说
            eventBus.$on('哥哥说', (event) => {
                this.receiveMsg.push(event.msg);
            })
        },
        data() {
            return {
                receiveMsg: []
            }
        },
        methods: {
            sendToBrother() {
                // 广播事件 妹妹说
                eventBus.$emit('妹妹说', {
                    msg: this.$refs.msg.value
                })
            }
        }
    });
    new Vue({
        el: '#app',
        data: {
            cname: ['brother', 'sister']
        },
        methods: {
            change() {
                this.cname = [this.cname[1], this.cname[0]]
            }
        }
    })
</script>
<script>
    // const eventbus = new Vue();
    //
    // eventbus.$on('下课了', function (event) {
    //     console.log('吃饭', event)
    // });
    //
    // eventbus.$emit('下课了', '休息10分钟');
</script>
</body>
</html>
